<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acgapp.qr_proyect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QR_Proyect"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Estadisitcas"
            android:exported="true" />
        <activity
            android:name=".Ver_pedidos_administrador"
            android:exported="true" />
        <activity
            android:name=".pedidos_admin"
            android:exported="true" />
        <activity
            android:name=".pedidos_cliente"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".AgregarProducto"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".QREscaner"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin"
            android:exported="true"
            android:theme="@style/Theme.Admin">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>